#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}


.dropdown {
  margin-bottom: 10px;
}

.dropdown-btn {
  width: 100%;
  background-color: #007BFF;
  color: #fff;
  border: none;
  padding: 10px;
  text-align: left;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  outline: none;
}

.dropdown-btn:focus {
  outline: 2px solid #0056b3;
}


/* src/index.css or src/App.css */

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f4f8; /* Light background for better contrast */
}

h1, h2, h3, p, button, div {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
